

{% extends "base.html" %}

{% block content %}
<div class="container text-center my-5 custom-home">
    <h1>Welcome to GenZ Gadgets!</h1>
    <p class="custom-lead">
        At <strong>GenZ Gadgets</strong>, we are passionate about delivering the latest innovations and cutting-edge technology to tech enthusiasts everywhere. Our diverse collection features everything from smart devices and accessories to the coolest tech trends, designed to enhance your lifestyle and keep you at the forefront of the digital age.
    </p>
    <p>
        We pride ourselves on offering high-quality products at competitive prices, ensuring you find the perfect gadget for your needs. Whether you're a tech-savvy individual or just looking for a practical solution, GenZ Gadgets is your ultimate destination for all things tech!
    </p>
    <p>
        Explore our store today and discover the future of gadgets!
    </p>
</div>
{% endblock %}
